<%- include('partials/head') -%>
<%- include('partials/nav') -%>



<div class="container table-container">
    <div class="fixed-action-btn d-flex justify-content-end p-4">
        <a href="/posts/add" class="btn-floating btn-large waves-effect waves-light red"><i class="fas fa-plus"></i></a>
    </div>
    <table class="table table-dark text-center">
        <thead>
            <tr>
                <th>Title</th>
                <th>Created at</th>
                <th>Status</th>
                <th>Likes</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% for(let i = 0; i < posts.length; i++) { %>
            <tr>
                <td><a href="/posts/<%= posts[i]._id %>"><%= posts[i].title %></a></td>
                <td><%= posts[i].createdAt %></td>
                <td><%= posts[i].status %></td>
                <td><%= posts[i].likes %></td>
            </tr>
            <% } %>

        </tbody>
    </table>

</div>
<%- include('partials/end') -%>